.text {
  margin: 0 0 16px;
  font-size: 18px;
  color: #515151;

  background: -webkit-linear-gradient(
    0deg,
    #162454,
    #2d51bd,
    #0a9ed8,
    #764ebb,
    #542a9b,
    #6700a2
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
